  /*** General Bullet Type Formatting ***/

/* Task Bullet Point */
.task-list {
    list-style-type: none;
    list-style-image: none;
    background: url('../images/icons/taskB.png') no-repeat;
    background-size: 1em;
    padding-left: 1.5em;
    padding-bottom: 5px;
  }

/* Event Bullet Point */
.event-list {
    list-style-type: none;
    list-style-image: none;
    background: url('../images/icons/eventB.png') no-repeat;
    background-size: 1em;
    padding-left: 1.5em;
    padding-bottom: 5px;
  }
  
/* Important Bullet Point */
.important-list {
  list-style-type: none;
  list-style-image: none;
  background: url('../images/icons/importantB.png') no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
  padding-bottom: 5px;
}

/* Inspiration Bullet Point */
.inspiration-list {
  list-style-type: none;
  list-style-image: none;
  background: url('../images/icons/inspirationB.png') no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
  padding-bottom: 5px;
}

/* Note Bullet Point */
.note-list {
  list-style-type: none;
  list-style-image: none;
  background: url('../images/icons/noteB.png') no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
  padding-bottom: 5px;
}

/* Completion Checkmark */
.checkMark-list {
  list-style-type: none;
  list-style-image: none;
  background: url('../images/icons/checkMark.png') no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
  padding-bottom: 5px;
}

/*** Set icon paddings ***/

.taskImage {
  padding-right: 5px;
}

.eventImage {
  padding-right: 5px;
}

.importantImage {
  padding-right: 5px;
}

.inspirationImage {
  padding-right: 5px;
}

.noteImage {
  padding-right: 5px;
}

.checkMarkImage {
  padding-right: 5px;
}