/*** Set general layout properties ***/

/* Changing color scheme */
:root {
  --first-color: #9EB3C2;
  --second-color: #9BD4F5;
  --third-color: #1D8ECE;
  --fourth-color: #2E77BB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: auto;
  height: auto;
  margin-top: 10em;
  background-color: white;
  color: black;

  /* cal at center of the page */
  display: flex;
  /* horizontal centering */
  justify-content: center;
  /* vertical centering */
  align-items: center;
  
}

/*** Set layout of calendar ***/

.calendar {
  width: 1000px;
  height: 643.75px;
  background-color: var(--second-color);
  border-radius: 20px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}


.month {
  width: 100%;
  height: 12rem;
  background-color: var(--third-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

/*** Set layout of reminders box ***/

.monthly-reminders {
  width: 30em;
  height: 644.75px;
  margin-left: 100px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 2em;
}

.monthly-goals h1 {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 400;
}

.monthly-goals div {
  font-size: 1.5rem;
  
}

/*** Set layout of calendar ***/

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 6.4px;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(993.6px / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.5rem;
  width: calc(989.4px / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

/*** On hover on dates (except today), change the background of that date ***/

.days div:hover:not(.today) {
  background-color: var(--fourth-color);
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: var(--third-color);
}

.add {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  background-color: var(--second-color);
  color: var(--fourth-color);
  border: var(--fourth-color);
  position: relative;
  margin-left: 40%;
}

.entry{
  border-radius: 15px;
  flex-basis: 300px;
  margin-top: 10px;
  text-align: left;
  background-color: white;
  border: 5px solid white;
  font: 15px sans-serif;
  height: 580px;
  color: black;
  padding: 10px;
  align-items: center;
  overflow: auto;
}