@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

/* Changing color scheme */
:root {
  --first-color: #9eb3c2;
  --second-color: #9bd4f5;
  --third-color: #1d8ece;
  --fourth-color: #2e77bb;
  --fifth-color: #ffffff;
}

/* collection page styling */
.collection-title > h1 {
  font-family: "Sansita One";
  font-size: 64px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: var(--third-color);
  position: absolute;
  left: 27%;
  top: 6%;
}

.content-box {
  cursor: pointer;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;

  text-align: left;
  background-color: var(--fifth-color);
  border: 5px solid var(--second-color);
  color: black;
  align-items: center;
  font: 15px sans-serif;
  overflow: hidden;

  padding: 50px;
  width: 730px;
  height: 400px;
  left: 10%;
  top: 20%;
  bottom: 112px;
}

.content-box > li {
  position: relative;
}

.list-box {
  height: 100%;
  width: 13%;
  left: 73%;
  padding: 100px;
  position: relative;
  background-color: var(--second-color);
}

.collection-list > p {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
}

.edit-button {
  cursor: pointer;
  height: 0px;
  width: 0px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  vertical-align: top;
}

.collection-edit {
  position: absolute;
  top: 20px;
  left: 230px;
}

.collection-input-section {
  position: static;
}

.collection-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 200px;
}

.cinputline {
  display: none;
}

.collection-submit-button,
.collection-reset-button {
  position: static;
  display: none;
}

.add {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  background-color: var(--third-color);
  color: var(--fifth-color);
  border: var(--fourth-color);
  position: relative;
  margin-left: 47%;
}

.entry {
  border-radius: 15px;
  flex-basis: 300px;
  margin-top: 0px;
  text-align: left;
  background-color: white;
  border: 5px solid white;
  font: 15px sans-serif;
  height: 425px;
  color: black;
  align-items: center;
  overflow: scroll;
}

.content-box ul {
  display: flex;
  flex-direction: column;
  height: 85%;
  padding-left: 0px;
}

.collection-delete {
  position: absolute;
  top: 20px;
  left: 300px;
}

.delete-button {
  cursor: pointer;
  height: 0px;
  width: 0px;
  padding: 0;
  margin: auto;
  border: none;
  outline: none;
  vertical-align: top;
}

.collection-background {
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 73%;
}
