/* Dropdown Button */

  /* Changing color scheme */
  :root {
    --first-color: #9EB3C2;
    --second-color: #9BD4F5;
    --third-color: #1D8ECE;
    --fourth-color: #2E77BB;
  }
  
  /* Dropdown button on hover & focus */
  .dropBtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropDown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropDown-content {
    border-radius: 15px;
    padding: 0.4em;
    display: none;
    position: absolute;
    background-color: var(--third-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}