/*** Import fonts ***/

@font-face {
  font-family: 'Sansita One';
  src: url('fonts/SansitaOne.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('fonts/Montserrat-Medium.ttf');
}

/* Changing color scheme */
:root {
  --first-color: #9EB3C2;
  --second-color: #9BD4F5;
  --third-color: #1D8ECE;
  --fourth-color: #2E77BB;
}

/*** Set general text and layout properties ***/

h1 {
  font-family: 'Sansita One';
  color: var(--third-color);
  font-size: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 0em;
}

p {
  font-family: 'Montserrat Medium';
  font-size: 26px;
  display: flex;
  justify-content: center;
}

.center {
  width: 10em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.uploadBtn {
  color: white;
  font-family: 'Montserrat Medium';
  background-color: var(--first-color);
  width: 175px;
  height: 50px;
  left: -45%;
  position: relative;
  text-align: center;
  border-radius: 15px;
}

.palette {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.color {
  margin: 0.5em;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

/*** Set background colors ***/

#color1 {
  background-color: var(--first-color);
}

#color2 {
  background-color: var(--second-color);
}

#color3 {
  background-color: var(--third-color);
}

#color4 {
  background-color: var(--fourth-color);
}

/*** Set button styling ***/

.upload {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

#output {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reset {
  display: flex;
  justify-content: center;
}

#resetBtn {
  font-family: 'Montserrat Medium';
  font-size: 12px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  width: 80px;
  height: 30px;
}